extends ../layout

block content
  .container.content
    form.form-horizontal(method='POST', style={margin: '5em 0'})
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        a.btn.btn-primary.btn-lg.btn-block(href='/auth/twitter')
          i.fa.fa-twitter
          | Sign in with Twitter
