extends ../layout

block content
  .container.content
    form.form-horizontal(class='login-form' method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        a.btn.btn-primary.btn-lg.btn-block(href='/auth/twitter')
          i.fa.fa-twitter
          | Sign in with Twitter
        a.btn.btn-primary.btn-lg.btn-block(href='/auth/github')
          i.fa.fa-github
          | Sign in with GitHub
