footer
  .container.text-center
    p.pull-left Created by <a href="https://twitter.com/hakatashi">@hakatashi</a>
    ul.pull-right.list-inline
      li
        a(href='https://github.com/hakatashi/esolang-battle') GitHub Project
      li
        a(href='https://github.com/hakatashi/esolang-battle/issues') Issues
