if !hideFooter
  .container-fluid.text-center.d-flex.footer
    p.mr-auto.p-2 Created by <a href="https://twitter.com/hakatashi">@hakatashi</a>
    p.p-2
      a(href='https://github.com/hakatashi/esolang-battle') GitHub
    p.p-2
      a(href='https://github.com/hakatashi/esolang-battle/issues') Issues
