extends layout

include mixins

block content
  .container.content
    .page-header
      h3 Admin

    .table-responsive
      table.table
        thead
          tr
            th Name
            th Team
            th Set Team
        tbody
          each user in users
            tr
              td= user.email
              td
                button(class=`btn admin-team-${teams[user.getTeam(contest)]}`)= teams[user.getTeam(contest)]
              td
                each team, index in teams
                  a(class=`btn admin-team-${team}`, href=`?${qs.encode({user: user._id.toString(), team: index})}`)= team
                  = ' '
