extends layout

block head
  if contest.isStarted()
    style
      if contest.id === '1'
        include:scss maps/1.scss
      else if contest.id === '2'
        include:scss maps/2.scss
      else if contest.id === '3'
        include:scss maps/3.scss
      else if contest.id === '4'
        include:scss maps/4.scss
      
    if contest.id === '4'
      script(src='/js/contests/4/index.js', async)

block content
  if !contest.isStarted() && !user.admin
    .container
      .content
        include partials/countdown.pug
  else if contest.id === '4'
    #app
  else
    .container
      .board
        if contest.id === '1'
          include maps/1.pug
        else if contest.id === '2'
          include maps/2.pug
        else if contest.id === '3'
          include maps/3.pug
