extends layout

block head
  if contest.isStarted() || (user && user.admin)
    style
      if contest.id === '1'
        include:scss maps/1.scss
      else if contest.id === '2'
        include:scss maps/2.scss
      else if contest.id === '3'
        include:scss maps/3.scss
      else if contest.id === '4'
        include:scss maps/4.scss
      else if ['mayfes2018-day1', 'mayfes2018-day2'].includes(contest.id)
        include:scss maps/mayfes2018.scss
      else if contest.id === 'hackathon2018'
        include:scss maps/hackathon2018.scss
      else if ['komabasai2018-day1', 'komabasai2018-day2'].includes(contest.id)
        include:scss maps/mayfes2018.scss
      else if ['mayfes2019-day1', 'mayfes2019-day2'].includes(contest.id)
        include:scss maps/mayfes2018.scss
      else if contest.id === '5'
        include:scss maps/5.scss
      else if ['komabasai2019'].includes(contest.id)
        include:scss maps/mayfes2018.scss
      else if contest.id === '6'
        include:scss maps/6.scss
      else if contest.id === 'mayfes2020-day1'
        include:scss maps/mayfes2018.scss
      else if [ 'hello', 'mayfes2020-day2' ].includes(contest.id)
        include:scss maps/mayfes2020-day2.scss

    if contest.id === '4'
      script(src='/js/contest-4.js', defer)
    else if ['mayfes2018-day1', 'mayfes2018-day2'].includes(contest.id)
      script(src='/js/contest-mayfes2018.js', defer)
    else if contest.id === 'hackathon2018'
      script(src='/js/contest-hackathon2018.js', defer)
    else if ['komabasai2018-day1', 'komabasai2018-day2'].includes(contest.id)
      script(src='/js/contest-mayfes2018.js', defer)
    else if ['mayfes2019-day1', 'mayfes2019-day2'].includes(contest.id)
      script(src='/js/contest-mayfes2018.js', defer)
    else if contest.id === '5'
      script(src='/js/contest-5.js', defer)
    else if ['komabasai2019'].includes(contest.id)
    else if contest.id === '6'
      script(src='/js/contest-6.js', defer)
    else if contest.id === 'mayfes2020-day1'
      script(src='/js/contest-mayfes2018.js', defer)
    else if [ 'hello', 'mayfes2020-day2' ].includes(contest.id)
      script(src='/js/contest-mayfes2020-day2.js', defer)


block content
  if !contest.isStarted() && (!user || !user.admin)
    .container
      .content
        include partials/countdown.pug
  else if ['4', '5', '6', 'mayfes2018-day1', 'mayfes2018-day2', 'hackathon2018', 'komabasai2018-day1', 'komabasai2018-day2', 'mayfes2019-day1', 'mayfes2019-day2', 'komabasai2019', 'hello', 'mayfes2020-day1', 'mayfes2020-day2'].includes(contest.id)
    #app
  else
    .container
      .board
        if contest.id === '1'
          include maps/1.pug
        else if contest.id === '2'
          include maps/2.pug
        else if contest.id === '3'
          include maps/3.pug
