extends layout

block head
  if contest.isStarted() || (user && user.admin)
    if contest.id === '1'
      link(rel='stylesheet', href='/css/contests/1.css')
    else if contest.id === '2'
      link(rel='stylesheet', href='/css/contests/2.css')
    else if contest.id === '3'
      link(rel='stylesheet', href='/css/contests/3.css')
    else if contest.id === '4'
      link(rel='stylesheet', href='/css/contests/4.css')
    else if ['mayfes2018-day1', 'mayfes2018-day2'].includes(contest.id)
      link(rel='stylesheet', href='/css/contests/mayfes2018.css')
    else if contest.id === 'hackathon2018'
      link(rel='stylesheet', href='/css/contests/hackathon2018.css')
    else if ['komabasai2018-day1', 'komabasai2018-day2'].includes(contest.id)
      link(rel='stylesheet', href='/css/contests/mayfes2018.css')
    else if ['mayfes2019-day1', 'mayfes2019-day2'].includes(contest.id)
      link(rel='stylesheet', href='/css/contests/mayfes2018.css')
    else if contest.id === '5'
      link(rel='stylesheet', href='/css/contests/5.css')
    else if ['komabasai2019'].includes(contest.id)
      link(rel='stylesheet', href='/css/contests/mayfes2018.css')
    else if contest.id === '6'
      link(rel='stylesheet', href='/css/contests/6.css')
    else if contest.id === 'mayfes2020-day1'
      link(rel='stylesheet', href='/css/contests/mayfes2018.css')
    else if contest.id === 'mayfes2020-day2'
      link(rel='stylesheet', href='/css/contests/mayfes2020-day2.css')
    else if ['mayfes2021-day1', 'mayfes2021-practice1'].includes(contest.id)
      link(rel='stylesheet', href='/css/contests/mayfes2018.css')
    else if ['mayfes2021-day2', 'mayfes2021-practice2'].includes(contest.id)
      link(rel='stylesheet', href='/css/contests/4.css')

    if contest.id === '4'
      script(src='/js/contest-4.js', defer)
    else if ['mayfes2018-day1', 'mayfes2018-day2'].includes(contest.id)
      script(src='/js/contest-mayfes2018.js', defer)
    else if contest.id === 'hackathon2018'
      script(src='/js/contest-hackathon2018.js', defer)
    else if ['komabasai2018-day1', 'komabasai2018-day2'].includes(contest.id)
      script(src='/js/contest-mayfes2018.js', defer)
    else if ['mayfes2019-day1', 'mayfes2019-day2'].includes(contest.id)
      script(src='/js/contest-mayfes2018.js', defer)
    else if contest.id === '5'
      script(src='/js/contest-5.js', defer)
    else if ['komabasai2019'].includes(contest.id)
    else if contest.id === '6'
      script(src='/js/contest-6.js', defer)
    else if contest.id === 'mayfes2020-day1'
      script(src='/js/contest-mayfes2018.js', defer)
    else if contest.id === 'mayfes2020-day2'
      script(src='/js/contest-mayfes2020-day2.js', defer)
    else if ['mayfes2021-day1', 'mayfes2021-practice1'].includes(contest.id)
      script(src='/js/contest-mayfes2018.js', defer)
    else if ['mayfes2021-day2', 'mayfes2021-practice2'].includes(contest.id)
      script(src='/js/contest-mayfes2021-day2.js', defer)


block content
  if !contest.isStarted() && (!user || !user.admin)
    .container
      .content
        include partials/countdown.pug
  else if ['4', '5', '6', 'mayfes2018-day1', 'mayfes2018-day2', 'hackathon2018', 'komabasai2018-day1', 'komabasai2018-day2', 'mayfes2019-day1', 'mayfes2019-day2', 'komabasai2019', 'mayfes2020-day1', 'mayfes2020-day2', 'mayfes2021-day1', 'mayfes2021-day2', 'mayfes2021-practice1', 'mayfes2021-practice2'].includes(contest.id)
    #app
  else
    .container
      .board
        if contest.id === '1'
          include maps/1.pug
        else if contest.id === '2'
          include maps/2.pug
        else if contest.id === '3'
          include maps/3.pug
