extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4(style={'word-wrap': 'break-word'})= helloworld
      p.lead Welcome to Esolang Battler
      hr.my-4
      p This is base system for codegolf competition held by TSG. Hang tight to see the new contest or check out the shining records of the past!
