extends layout

block content
  .board
    - for (let y = 0; y < 10; y++)
      .row
        - for (let x = 0; x < 10; x++)
          - const language = languages[y * 10 + x];
          div.language.cell(data-slug=language.slug, data-toggle="modal", data-target="#language-modal")
            .name= language.name

  #language-modal.modal.fade(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span ×
          h4.modal-title
        .modal-body
          p Engine: <a class="engine-name" target="_blank"></a>
          p Owner: <span class="owner-name"></span>
          textarea.form-control.code(rows=15)
          p.result
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Submit
