extends layout

block content
  .board
    - for (let y = 0; y < 8; y++)
      .row
        - for (let x = 0; x < 15; x++)
          - const margin = (y < 4) ? (3 - y) : (y - 4)
          div(class=classnames('language', 'cell', (x + y) % 2 ? 'up' : 'down', {invalid: x < margin || 14 - x < margin}), data-index=y * 15 + x, data-toggle="modal", data-target="#language-modal")
            svg.triangle-area(viewBox="0 0 1000 866")
              polygon.triangle(points="0,866 500,0 1000,866")
            .language-label
              .name
              .size
    .team-info.red
      .team-name Red
      .score 0
      .bar
    .team-info.blue
      .team-name Blue
      .score 0
      .bar
    .team-info.green
      .team-name Green
      .score 0
      .bar

  #language-modal.modal.fade(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span ×
          h4.modal-title
        .modal-body
          p Owner: <span class="owner-name"></span>
          p Solution: <a class="solution" target="_blank"></a> (<span class="solution-bytes"></span> bytes)
          textarea.form-control.code(rows=15, readonly=true)
          p Or
            input.file(type='file', name='myFile')
          p.result
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary.submit-code(type='button', disabled=true) Submit
