mixin submissionBadge(submission)
  - 
    const badgeClass = {pending: 'badge-secondary', success: 'badge-success', failed: 'badge-warning', error: 'badge-danger'}[submission.status]
    const badgeText = {pending: 'WJ', success: 'AC', failed: 'WA', error: 'ERROR'}[submission.status]
  span.badge(class=badgeClass)
    if submission.error && submission.error.name === 'TimeoutError'
      | TLE
    else
      = badgeText
