extends layout

block head
  style
    if contest.id === '1'
      include:scss maps/1.scss
    else if contest.id === '2'
      include:scss maps/2.scss
    else if contest.id === '3'
      include:scss maps/3.scss

block content
  .container
    h1 Rule
    != description
