extends layout

block content
  .container.content
    if !contest.isStarted() && (!user || !user.admin)
      include partials/countdown.pug
    else
      h1 Rule
      != description.en
      
      hr(class='rule-description-hr')
      
      h1 ルール
      != description.ja
