@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/material-colors/dist/colors.sass";
@import "lib/font-awesome/font-awesome";


// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 56px;
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.notation {
  font-size: 3em;
}

.content {
  padding-top: 1em;
}

pre {
  background-color: #364549;
  color: #e3e3e3;
  padding: 1em;
  border-radius: 5px;
  line-height: 1.2em;
}

pre.hexdump {
  color: darkgray;
}

.jumbotron-wrap {
  color: white;
}

.jumbotron-wrap:hover {
  text-decoration: none;
  color: white;
}

.contest-1 {
  background-color: $md-lime-700;
  background-image: url('/img/contest/1-headline.svg');
  background-size: cover;
  background-position: center;
}

.contest-2 {
  background-color: $md-blue-500;
  background-image: url('/img/contest/2-headline.svg');
  background-size: cover;
  background-position: center;
}

.contest-3 {
  background-color: $md-red-500;
  background-image: url('/img/contest/3-headline.svg');
  background-size: cover;
  background-position: center;
}

.contest-4 {
  background-color: $md-orange-500;
  background-image: url('/img/contest/4-headline.png');
  background-size: cover;
  background-position: center;
}

.contest-unknown {
  background-color: #050505;
  background-image: url('/img/contest/noise.png');
}

.team-badge {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  vertical-align: middle;
  border-radius: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;

  &.team-0 {
    background-color: #ef2011;
  }

  &.team-1 {
    background-color: #0e30ec;
  }

  &.team-2 {
    background-color: #167516;
  }
}

.contest-title {
  font-size: 1.2em;
}

textarea.code {
  min-height: 8em;
  font-family: monospace;
  font-size: 16px;
  word-break: break-all;
  overflow-wrap: normal;
  line-height: 1;
}

.row {
  margin-left: initial;
  margin-right: initial;
}
