@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.board {
  display: flex;
  flex-direction: column;

  width: 97vh; // This is my magic :P
  height: 90vh;
  margin: 0 auto;
  position: relative;

  .row {
    display: flex;

    flex: 1 1 0;

    .cell {
      flex: 1 1 0;
      margin: 0 2px;
      border-radius: 8px;
      cursor: pointer;
      color: #333;
      pointer-events: none;

      &.invalid {
        visibility: hidden;
      }

      &.black {
        .triangle {
          fill: #111;
          fill: repeating-linear-gradient(-45deg,#111,#111 10px,#222 0,#222 20px);
        }
      }

      &.gray {
        .triangle {
          fill: #737373;
        }
      }

      &.red {
        color: white;
        .triangle {
          fill: #ef2011;
        }
      }

      &.blue {
        color: white;
        .triangle {
          fill: #0e30ec;
        }
      }

      &.green {
        color: white;
        .triangle {
          fill: #167516;
        }
      }

      &.white {
        .triangle {
          fill: white;
        }
      }

      &.up {
        .language-label {
          top: 70%;
        }
      }

      &.down {
        .language-label {
          top: 30%;
        }

        .triangle {
          transform: rotate(180deg);
          transform-origin: center;
        }
      }

      .triangle-area {
        position: absolute;
        left: -50%;
        right: -50%;
        top: 0;
        bottom: 0;
        width: 200%;
        height: 100%;

        .triangle {
          pointer-events: auto;
        }
      }
    }
  }

  .team-info {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    line-height: 1em;

    &.red {
      right: calc(100% + 30px);
      color: #ef2011;

      .bar {
        background-color: #ef2011;
      }
    }

    &.blue {
      left: calc(100% + 30px);
      color: #0e30ec;

      .bar {
        background-color: #0e30ec;
      }
    }

    &.green {
      right: calc(100% + 150px);
      color: #167516;

      .bar {
        background-color: #167516;
      }
    }

    .team-name {
      font-size: 24px;
      line-height: 1em;
    }

    .score {
      font-size: 40px;
      line-height: 1em;
    }

    .bar {
      flex-basis: 0px;
      width: 100%;
      transition: flex-basis 1s;
    }
  }
}

.language {
  position: relative;

  .language-label {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-weight: bold;
    font-size: 12px;

    .size {
      font-size: 1.2em;
    }
  }
}

#language-modal {
  .code {
    font-family: monospace;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    line-height: 1;
  }

  .result {
    word-wrap: break-word;
    margin: 1em 0;
    padding: 0.5em;
  }
}

.notation {
  font-size: 3em;
}

input[type="file"] {
  display: inline-block;
}
