@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "lib/font-awesome/font-awesome";


// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 56px;
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.notation {
  font-size: 3em;
}

pre {
  background-color: #364549;
  color: #e3e3e3;
  padding: 1em;
  border-radius: 5px;
  line-height: 1.2em;
}

pre.hexdump {
  color: darkgray;
}
