@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/material-colors/dist/colors.sass";
@import "lib/font-awesome/font-awesome";


// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 56px;
}

// Search Fields
// -------------------------

.search {
  label {
    margin-bottom: 0;
  }
  button {
    margin-bottom: 1em;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.notation {
  font-size: 3em;
}

.content {
  padding-top: 1em;
}

pre {
  background-color: #364549;
  color: #e3e3e3;
  padding: 1em;
  border-radius: 5px;
  line-height: 1.2em;
}

pre.hexdump {
  color: darkgray;
}

a {
  text-decoration: none;
}

.jumbotron-wrap {
  color: white;

  .jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    background-color: $md-blue-grey-900;
    background-size: cover;
    background-position: center;
    min-height: 20rem;

    &.contest-1 {
      background-color: $md-lime-700;
      background-image: url('/img/contest/1-headline.svg');
    }

    &.contest-2 {
      background-color: $md-blue-500;
      background-image: url('/img/contest/2-headline.svg');
    }

    &.contest-3 {
      background-color: $md-red-500;
      background-image: url('/img/contest/3-headline.svg');
    }

    &.contest-4 {
      background-color: $md-orange-500;
      background-image: url('/img/contest/4-headline.png');
    }

    &.contest-mayfes2018-day1 {
      background-color: $md-brown-400;
      background-image: url('/img/contest/mayfes2018-day1-headline.svg');
    }

    &.contest-mayfes2018-day2 {
      background-color: $md-pink-300;
      background-image: url('/img/contest/mayfes2018-day2-headline.svg');
    }

    &.contest-hackathon2018 {
      background-color: $md-teal-500;
      background-image: url('/img/contest/hackathon2018-headline.svg');
    }

    &.contest-komabasai2018-day1 {
      background-color: $md-amber-600;
      background-image: url('/img/contest/komabasai2018-day1-headline.svg');
    }

    &.contest-komabasai2018-day2 {
      background-color: $md-purple-400;
      background-image: url('/img/contest/komabasai2018-day2-headline.svg');
    }

    &.contest-mayfes2019-day1 {
      background-color: $md-deep-orange-800;
      background-image: url('/img/contest/mayfes2019-day1-headline.svg');
    }

    &.contest-mayfes2019-day2 {
      background-color: $md-light-blue-900;
      background-image: url('/img/contest/mayfes2019-day2-headline.svg');
    }

    &.contest-5 {
      background-color: $md-lime-700;
      background-image: url('/img/contest/5-headline.svg');
    }

    &.contest-komabasai2019 {
      background-color: $md-brown-600;
      background-image: url('/img/contest/komabasai2019-headline.svg');
    }

    &.contest-6 {
      background-color: $md-yellow-600;
      background-image: url('/img/contest/6-headline.svg');
    }

    &.contest-mayfes2020-day1 {
      background-color: $md-lime-500;
      background-image: url('/img/contest/mayfes2020-day1-headline.svg');
    }

    &.contest-mayfes2020-day2 {
      background-color: $md-deep-orange-800;
      background-image: url('/img/contest/mayfes2020-day2-headline.svg');
    }

    &.contest-unknown {
      background-color: #050505;
      background-image: url('/img/contest/noise.png');
      background-size: auto;
    }
  }
}

.jumbotron-wrap:hover {
  text-decoration: none;
  color: white;
}

.team-badge {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  vertical-align: middle;
  border-radius: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;

  &.team-0 {
    background-color: #ef2011;
  }

  &.team-1 {
    background-color: #0e30ec;
  }

  &.team-2 {
    background-color: #167516;
  }
}

.contest-title {
  font-size: 1.2em;
}

textarea.code {
  min-height: 8em;
  font-family: $font-family-monospace;
  font-size: 16px;
  word-break: break-all;
  overflow-wrap: normal;
  line-height: 1;
}

.row {
  margin-left: initial;
  margin-right: initial;
}
