.board {
  display: flex;
  flex-direction: column;

  width: 100vmin; // This is my magic :P
  height: 90vmin;
  margin: 10px auto 0;
  position: relative;

  @media screen and (orientation: portrait) {
    width: 90vmin;
    height: 78vmin;
  }

  .row {
    display: flex;

    flex: 1 1 0;

    .cell {
      flex: 1 1 0;
      margin: 0 2px;
      border-radius: 8px;
      color: #333;
      pointer-events: none;

      &.invalid {
        visibility: hidden;
      }

      &.black {
        .triangle {
          fill: #111;
          fill: repeating-linear-gradient(-45deg,#111,#111 10px,#222 0,#222 20px);
        }
      }

      &.gray {
        .triangle {
          fill: #737373;
        }
      }

      &.red {
        color: white;
        .triangle {
          fill: #ef2011;
        }
      }

      &.blue {
        color: white;
        .triangle {
          fill: #0e30ec;
        }
      }

      &.green {
        color: white;
        .triangle {
          fill: #167516;
        }
      }

      &.white {
        .triangle {
          fill: white;
        }
      }

      &.up {
        .language-label {
          top: 70%;
        }
      }

      &.down {
        .language-label {
          top: 30%;
        }

        .triangle {
          transform: rotate(180deg);
          transform-origin: center;
        }
      }

      .triangle-area {
        position: absolute;
        left: -50%;
        right: -50%;
        top: 0;
        bottom: 0;
        width: 200%;
        height: 100%;

        .triangle {
          pointer-events: auto;
        }
      }
    }
  }

  .team-info {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    line-height: 1em;

    &.red {
      right: calc(100% + 30px);
      color: #ef2011;

      .bar {
        background-color: #ef2011;
      }
    }

    &.blue {
      left: calc(100% + 30px);
      color: #0e30ec;

      .bar {
        background-color: #0e30ec;
      }
    }

    &.green {
      right: calc(100% + 150px);
      color: #167516;

      .bar {
        background-color: #167516;
      }
    }

    @media screen and (orientation: portrait) {
      bottom: auto;
      right: 0;
      left: 0;
      height: 50px;
      width: auto;
      flex-direction: row-reverse;

      &.red {
        right: 0;
        top: calc(100% + 10px);
      }

      &.blue {
        left: 0;
        top: calc(100% + 60px);
      }

      &.green {
        right: 0;
        top: calc(100% + 110px);
      }
    }

    .team-name {
      font-size: 24px;
      line-height: 1em;
    }

    .score {
      font-size: 40px;
      line-height: 1em;
    }

    .bar {
      flex-basis: 0px;
      width: 100%;
      transition: flex-basis 1s;

      @media screen and (orientation: portrait) {
        height: 80%;
        margin-right: 5px;
      }
    }
  }
}

.language {
  position: relative;

  .language-label {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-weight: bold;
    font-size: 1.4vmin;

    @media screen and (orientation: portrait) {
      line-height: 1em;
    }

    .size {
      font-size: 1.2em;
    }
  }
}

