.world {
	display: flex;
	justify-content: space-between;

	@media screen and (orientation: portrait) {
		flex-direction: column;
	}

	.spacer {
		width: 200px;
	}

	.map {
		position: relative;

		@media screen and (orientation: portrait) {
			overflow: hidden;
		}

		.language-labels {
			pointer-events: none;
		}

		.language-label {
			position: absolute;
			top: 0;
			left: 0;
			width: 200px;

			line-height: 1.3em;
			font-size: 3.8vmin;
			font-weight: bold;
			text-align: center;
			color: white;

			.language-size {
				font-size: 1.3em;
			}
		}
	}

	.teams {
		display: flex;
		flex-basis: 200px;

		@media screen and (orientation: portrait) {
			flex-direction: column;
			flex-basis: auto;
		}

		.team {
			width: 50px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			margin-right: 15px;

			@media screen and (orientation: portrait) {
				width: auto;
				height: 25px;
				flex-direction: row-reverse;
				margin: 0 0 5px;
			}

			&.red .bar {
				background-color: #ef2011;
				color: #ef2011;
			}

			&.blue .bar {
				background-color: #0e30ec;
				color: #0e30ec;
			}

			&.green .bar {
				background-color: #167516;
				color: #167516;
			}

			.bar {
				position: relative;
			}

			.count {
				position: absolute;
				bottom: 100%;
				text-align: center;
				width: 100%;
				font-weight: bold;
				font-size: 32px;

				@media screen and (orientation: portrait) {
					left: calc(100% + 5px);
					width: auto;
					top: 0;
					bottom: 0;
					line-height: 30px;
				}
			}

			.team-name {
				position: absolute;
				bottom: calc(100% + 35px);
				text-align: center;
				width: 100%;
				font-weight: bold;

				@media screen and (orientation: portrait) {
					left: calc(100% + 45px);
					width: auto;
					top: 0;
					bottom: 0;
					line-height: 30px;
				}
			}
		}
	}
}
